body{
    background-color: bisque;
}
@keyframes changeColor {
     0%   {background-color: red;}
     25%  {background-color: yellow;}
     50%  {background-color:hotpink;}
     100% {background-color: green;}
}
@keyframes rotate {
    0% {rotate: 45deg;}
    25% {rotate: 90deg;}
    50% {rotate:135deg;}
    100% {rotate:180deg;}
}
h1{
    color: brown;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(227,188,154);
    padding:10px 10px;
    margin:5px 5px;
   animation:changeColor;
   animation-duration: 10s;
}
nav{
   
  text-align:center; 
  padding:5px 5px;
}
.nav-button{
    border-radius: 15px;
    background-color:#008080;
    border:none;
    padding:8px 20px;
    margin: 10px;
    width:150px;
}
.button:hover{
    color:hotpink;
padding:15px 30px;
}
.button:visited{
    color:blueviolet;
}
.button:active{
    color:red;
}
.parent-description{
    text-align: center;
    display:flex;
    box-sizing:border-box;
width: 300px;
height:120px;
border:none;
margin-left: 200px;
}

span{
    font-weight: bold;
    color:maroon;
    font-size:x-large;
}


#frown-img{
    width: 200px;
     height:200px;
    margin-left:100px;
    animation:rotate;
    animation-duration: 10s;
}
.parent-solutions{
    padding:1px 1px;
    background-color: rgb(227,188,154);
    font-family: Arial, Helvetica, sans-serif;
    margin-top:50px;
    font-size: 35;
    
}

.child-solutions{
    margin:2px;
    margin-left: 200px;
    padding:5px 5px;
    border: 1px;
    border-radius: 20px;
    background-color:maroon;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#top{
    width: 100%;
    height:10%;
  
}
#bottom{
    width:50%;
    height:15%
}
#left{
    float:left;
    width:35%;
    height: 520px;
    border:2px;
    margin-left:80px;
    margin-top:200px;
}

#right{
    float:right;
    width:40%;
    height: 700px;
    border:1px solid black;
    margin-right: 150px;
    margin-top: 20px;
}
#top-div{
    width:100%;
    height:3rem;
    background-color: brown;
}
#meme-title{
    font-weight:bolder;
    font-size:15px;
    color:solid white;
}
#meme-button{
    border-radius: 3rem;
    background-color: brown;

}
#meme-button:hover{
    background-color:green;
}
#meme-holder{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
#interaction-pane{
    width:100%;
    height:2rem;
    background-color:peachpuff;
    float:right;
    margin-top:5px;

}
#like-button{
background:transparent;
border:3px;
color:grey;
font-size:30px;
position:absolute;
animation:none;
transition: none;
}
i:hover{
    cursor:pointer;
}
#comment-section{
    background-color:white;
    width:100%;
    height:80px;
    margin:5px;
    margin-left: 0;
}
textarea{
    height: 50px;
    width:99%;
    margin:0;
}
#main3{
    border-top: 150px;
}
#details-form{
    margin-top: 70px;

}
input{
    box-sizing: border-box;
    margin: 8px 0;
    padding: 10px 10px;
    border-radius: 2rem;
}
button[type="submit"]{
    background-color: maroon;
    border-radius: 3rem;
    color:white;
}
.submit-button:hover{
    padding:0;
}


